<div>
	<h3>Dear {name},</h3>
	<p>
		You requested for a password reset, kindly use this <a href="{callbackUrl}">link</a> to reset your password.
	</p>
	<p>
		<strong>UserId:</strong> {userId}<br />
		<strong>Token:</strong> {token}<br />
	</p>
	<p>Cheers!</p>
</div>